<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author About Page</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm"><img src="https://upload.wikimedia.org/wikipedia/commons/4/4d/Cat_November_2010-1a.jpg" alt="" style="width:400px;height:300px;"></div>
        <div class="col-sm">Felix the cat<img src="https://res.cloudinary.com/dvunax54a/image/upload/v1569525211/pexels-photo-326875_b3o1ix.jpg" alt="" style="width:400px;height:300px"></div>
        <div class="col-sm">Do you have a cat? They are awesome!</div>

    </div>
    <div class="row">
        <div class="col-sm"><img src="https://upload.wikimedia.org/wikipedia/commons/8/86/Maltese_puppy.jpeg" style="width:400px;height:300px;"></div>
        <div class="col-sm dexter">Dexter the dog</div>
        <div class="col-sm">Do you have a dog? They are alright.</div>

    </div>
</div>
</body>
</html>