<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Core Java Blog2</title>
</head>
<body>
<h1>Core Java Blog Entry 2</h1>
<h4><small><i>27 September 2019</i></small></h4>
<p>Busey ipsum dolor sit amet. Go with the feeling of the nature. Take it easy. Know why you're here. And remember to balance your internal energy with the environment.You gotta go through it to see there ain't nothing to it.It's OK to get Rib-grease on your face, because you're allowing people to see that you're proud of these ribs.</p>

    <p>I wrestled a bear once. A 750lbs black bear.Did you feel that? Look at me - I'm not out of breath anymore!It's good to yell at people and tell people that you're from Tennesee, so that way you'll be safe.It's OK to get Rib-grease on your face, because you're allowing people to see that you're proud of these ribs. </p>
</body>
</html>