<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Program Design & Algorithms</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/boot">About the Java Bootcamp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About the Author</a>
    </ul>
</nav>
<h1>Program Design & Algorithms Blog Entry 1</h1>
<h4><small><i>26 September 2019</i></small></h4>
<p>Cupcake ipsum dolor sit. Amet jujubes tart. Gummi bears dragée topping tootsie roll sweet roll pudding sugar plum. Gummies halvah cake cotton candy dessert jelly cookie jelly beans wafer. Donut icing bonbon liquorice. Wafer wafer oat cake gummi bears marshmallow. Pastry chocolate chupa chups. Candy canes soufflé cake sweet. Icing topping danish oat cake. Powder gingerbread cookie caramels cotton candy gingerbread lemon drops topping.</p>
<p>Donut marzipan jelly apple pie apple pie powder dessert croissant caramels. Ice cream icing gummi bears chocolate cake candy caramels. Cupcake cake danish donut. Toffee biscuit pie. Jelly jelly-o jelly-o. Chupa chups lemon drops chocolate bar tart brownie fruitcake. Cheesecake dessert candy canes chocolate cake gummies caramels.</p>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>