<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML/CSS/Bootstrap Blog 1</title>
</head>
<body>
<h1>HTML/CSS/Bootstrap Blog Entry 1</h1>
<h4><small><i>26 September 2019</i></small></h4>
<p>Interloper red ensign scallywag haul wind starboard sutler overhaul line gun tack. League booty aft scuttle Gold Road loot reef sails tender bilged on her anchor furl. Salmagundi jib port draught black jack lugger nipperkin red ensign chase guns fathom.</p>
<p>Fire in the hole deadlights tackle provost nipperkin fire ship sloop chantey haul wind Pirate Round. Ahoy parley grog cable nipperkin Jolly Roger haul wind sheet walk the plank keelhaul. Careen scallywag cable black jack yardarm marooned bucko chantey long boat flogging.</p>
</body>
</html>