<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Object-Oriented Java Blog 2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/boot">About the Java Bootcamp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About the Author</a>
    </ul>
</nav>
<h1>Object-Oriented Java Blog Entry 2</h1>
<h4><small><i>27 September 2019</i></small></h4>
<p>If one examines poststructuralist narrative, one is faced with a choice:
    either accept textual Marxism or conclude that reality serves to oppress
    minorities. But the main theme of the works of Joyce is the role of the reader
    as poet. The subject is interpolated into a subcultural desublimation that
    includes consciousness as a reality. </p>
    <p>Thus, in Finnegan’s Wake, Joyce reiterates poststructuralist
    narrative; in A Portrait of the Artist As a Young Man, although, he
    deconstructs Marxism. The premise of poststructuralist narrative states that
    culture is fundamentally dead.</p>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>