<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Java Bootcamp</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/boot">About the Java Bootcamp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About the Author</a>
    </ul>
</nav>
<p>The Java Bootcamp is hard but rewarding in the end. Stick with it!</p>
</body>
</html>