<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Home</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>html {
        background: url("https://res.cloudinary.com/dvunax54a/image/upload/v1569611556/paper-2500942_960_720_khsibm.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/boot">About the Java Bootcamp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About the Author</a>
    </ul>
</nav>
<div class="container">
    <h2>Blog Home</h2>
    <ul class="list-group">
        <li class="list-group-item"><div class="card">
            <div class="card-body bg-secondary text-black">
                <h4 class="card-title">Github</h4>
                <h5><small><i>27 September 2019</i></small></h5>
                <p class="card-text">Lorem ipsum dolor amet squid +1 four dollar toast slow-carb, cardigan woke cloud bread hell of dreamcatcher shoreditch jean shorts distillery adaptogen. Knausgaard vexillologist meditation, chillwave food truck stumptown kickstarter unicorn drinking vinegar hella occupy iPhone dreamcatcher. Pug banh mi tofu prism meh cornhole unicorn biodiesel. 3 wolf moon +1 crucifix paleo beard freegan authentic semiotics slow-carb vice sartorial kogi.
                <a href="/blog1" class="card-link">View More</a></p><br>
                <h5><small><i>26 September 2019</i></small></h5>
                <p class="card-text">ombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis.
                    Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris.
                    <a href="/blog2" class="card-link">View More</a></p><br>
            </div>
        </div></li>
        <li class="list-group-item"><div class="card">
            <div class="card-body bg-secondary text-black">
                <h4 class="card-title">Program Design & Algorithms</h4>
                <h5><small><i>27 September 2019</i></small></h5>
                <p class="card-text">Cupcake ipsum dolor sit. Amet jujubes tart. Gummi bears dragée topping tootsie roll sweet roll pudding sugar plum. Gummies halvah cake cotton candy dessert jelly cookie jelly beans wafer. Donut icing bonbon liquorice. Wafer wafer oat cake gummi bears marshmallow. Pastry chocolate chupa chups. Candy canes soufflé cake sweet. Icing topping danish oat cake. Powder gingerbread cookie caramels cotton candy gingerbread lemon drops topping.
                <a href="/blog3" class="card-link">View More</a></p></div></div></li>
        <li class="list-group-item"><div class="card">
            <div class="card-body bg-secondary text-black">
                <h4 class="card-title">Core Java</h4>
                <h5><small><i>27 September 2019</i></small></h5>
                <p class="card-text">Busey ipsum dolor sit amet. Go with the feeling of the nature. Take it easy. Know why you're here. And remember to balance your internal energy with the environment.You gotta go through it to see there ain't nothing to it.It's OK to get Rib-grease on your face, because you're allowing people to see that you're proud of these ribs.
                <a href="/blog5" class="card-link">View More</a></p></div></div></li>
        <li class="list-group-item"><div class="card">
            <div class="card-body bg-secondary text-black">
                <h4 class="card-title">Object-Oriented Java</h4>
                <h5><small><i>27 September 2019</i></small></h5>
                <p class="card-text">Cat ipsum dolor sit amet, take a big fluffing crap 💩. Purr when give birth present belly, scratch hand when stroked love and coo around boyfriend who purrs and makes the perfect moonlight eyes so i can purr and swat the glittery gleaming yarn to him (the yarn is from a $125 sweater) chase dog then run away for sit in window and stare oooh, a bird, yum. I shredded your linens for you asdflkjaertvlkjasntvkjn (sits on keyboard) i love cuddles lick the curtain just to be annoying. Meow all night behind the couch, but meow loudly just to annoy owners, milk the cow. Licks your face love to play with owner's hair tie lick human with sandpaper tongue so rub face on owner crash against wall but walk away like nothing happened.
                <a href="/blog7" class="card-link">View More</a></p></div></div></li>
        <li class="list-group-item"><div class="card">
            <div class="card-body bg-secondary text-black">
                <h4 class="card-title">HTML/CSS/Bootstrap</h4>
                <h5><small><i>27 September 2019</i></small></h5>
                <p class="card-text">Interloper red ensign scallywag haul wind starboard sutler overhaul line gun tack. League booty aft scuttle Gold Road loot reef sails tender bilged on her anchor furl. Salmagundi jib port draught black jack lugger nipperkin red ensign chase guns fathom.
                <a href="/blog9" class="card-link">View More</a></p></div></div></li>


    </ul>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>